<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>

<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
	a[h]=a[h]||function(){
		(a[h].q=a[h].q||[]).push(arguments)
	};
	o=f.createElement('script'),
	m=f.getElementsByTagName('script')[0];
	o.async=1; o.src=t; o.id='fathom-script';
	m.parentNode.insertBefore(o,m)
})(document, window, '//osto.us/fathom/tracker.js', 'fathom');
fathom('set', 'siteId', 'HIRUG');
fathom('trackPageview');
</script>
<!-- / Fathom -->

{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
<script src="{{ site.url }}/assets/js/vendor/retina.js"></script>
<script type="text/javascript">
  
  var maxImgId = 7;
  var minImgId = 1;

  $(document).ready(function(){
    $(".index-header-wrapper").each(function(){
      var imageSrc = $(this).data("index-header-image");

      if(!imageSrc){
        var randomid = Math.floor(Math.random() * (maxImgId - minImgId + 1)) + minImgId;
        imageSrc = "{{ site.url }}/images/sample-image-" + randomid + ".jpg";
      }

      $(this).css("backgroundImage", "url(" + imageSrc + ")");
    });

    $(".random-header").each(function(){
      var randomid = Math.floor(Math.random() * (maxImgId - minImgId + 1)) + minImgId;
      imageSrc = "{{ site.url }}/images/sample-image-" + randomid + ".jpg";

      $(this).attr("src", imageSrc);
      console.log(imageSrc);
    });
  });

</script>
