<hr>
<footer>
  <p>
    <a href="http://nickpettazzoni.com/about/">Nick Pettazzoni</a> is a professional internet with his very own <a href="http://twitter.com/pettazz/">Twitter</a>, <a href="http://facebook.com/pettazz/">Facebook</a>, <a href="http://last.fm/user/noodpope/">Last.fm</a>, <a href="http://github.com/pettazz">GitHub</a>, and <a href="http://feeds2.feedburner.com/pettazz">Atom feed</a>. He is also a firm believer in oxford commas and stole the basis of this design from <a href="http://tatey.com">Tate Johnson</a>.
  </p>
</footer>
