<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/stylesheets/default.css?9" rel="stylesheet" type="text/css">
    <link href="/stylesheets/highlight.css?9" rel="stylesheet" type="text/css">
    <link href="http://feeds2.feedburner.com/pettazz" rel="alternate" title="Nick Pettazzoni" type="application/atom+xml">
    <link href='/images/favicon.ico' rel='shortcut icon' type='image/ico'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript">
      //add a Read More link to the frontpage post
      $(document).ready(function(){
        var iter = 0;
        var imgStopFlag = false;
        $('article.frontpage').children('p, div').each(function(i, e){
          if(iter > 0){
            if(!imgStopFlag && ( $(this).children().length == 1 && $(this).children('img').length == 1)){
              imgStopFlag = true;
            }else{
              $(this).hide();
            }
          }
          iter++;
        });
        var link = $('article.frontpage h2 a').attr('href');
        $('article.frontpage').append('<p><a href="' + link + '">Read More</a></p>');
      });

      //Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32768442-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <h1><a href="{{ base.url }}/">pettazz<span>.</span>com</a></h1>
    <nav>
      <ul>
        <li><a href="{{ base.url }}/">Blog</a></li>
        <li><a href="http://nickpettazzoni.com/projects/">Projects</a></li>
        <li><a href="http://nickpettazzoni.com/about/">About</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
