<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image %}
  <div class="image-wrap">
  <img src=
    {% if page.image contains 'http' %}
      "{{ page.image }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.imageCredit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.imageCredit.link }}">{{ page.imageCredit.display }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main"> 
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
    {% for post in site.posts limit:6 %}    
    <article>
      <div class="index-header-wrapper" data-index-header-image=
        {% if post.image %}
          {% if post.image contains 'http' %}
              "{{ post.image }}"
            {% else %}
              "{{ site.url }}/images/{{ post.image }}"
            {% endif %}
          {% endif %} >
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><h1>{{ post.title }}</h1></a>
      </div>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
      {% else %}
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
          {% if post.tagline %}<h2>{{ post.tagline }}</h2>{% endif %}
          <p>{{ post.excerpt | strip_html }}</p>
        </a>
      {% endif %}
      <p class="post-meta">Posted on {{ post.date | date: "%B %d, %Y" }}{% if post.modified %}, Updated on {{ post.modified | date: "%B %d, %Y" }}{% endif %}</p>
    </article>
    {% endfor %}
    <h3 style="float:right"><a href="/posts">More Posts >></a></h3>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
